*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  box-sizing: border-box;
  font-family: $font-body;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
